@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h1>Welcome to the Eau Claire's Salon!</h1>
@await Html.PartialAsync("_CarouselPartial")
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>

<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 



